@charset "utf-8";

#name {
  width:50%;
}

#dollar {
  width:50%;
}

#item {
  width:50%
}

#description {
  width:50%;
}

#basket {
    border-width: 5px;
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    width: 75%;
    background-color: #80ff80;
    position:relative;
    display:flex;
    font-family: impact;
}

input {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
}

body{
      font-family: impact;
}/* CSS Document */
